<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tv</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="app">
        <div class="wrapper">
            <div class="main-logo">
                <div class="bg-light"></div>
                <img width="160" src="./images/UconCinemaLogo.png" alt="logoimg">
                <div class="logo-text">
                    <h1>Multiplex</h1>
                    <h3>Домашний кинотеатр</h3>
                </div>
            </div>
            <nav class="navbar" nv-scope="list" nv-scope-current>
                <p nv-el nv-el-current>Поиск</p>
                <a id="Premieres" nv-el href="./pages/premieres/Premieres.html">Премьеры</a>
                <a id="Films" nv-el href="./pages/films/Films.html">Фильмы</a>
                <a id="Serials" nv-el href="./pages/serials/Serials.html">Сериалы</a>
                <a id="Cartoons" nv-el href="./pages/cartoons/Cartoons.html">Мультфильмы</a>
                <a id="Anime" nv-el href="./views/Anime.html">Аниме</a>
                <a id="Compilations" nv-el href="./pages/Compilations.html">Подборки</a>
            </nav>
        </div>
    </div>
    
    <script type="text/javascript" src="./navigation/navigation.js"></script>
    <script type="text/javascript" src="./navigation/navigation.min.js"></script>
    <script type="text/javascript">
        let premieres = document.getElementById('Premieres')
        let films = document.getElementById('Films')
        let serials = document.getElementById('Serials')
        let cartoons = document.getElementById('Cartoons')
        let anime = document.getElementById('Anime')
        let compilations = document.getElementById('Compilations')

        premieres.addEventListener('nv-enter', function (event) {
                window.location='./pages/premieres/Premieres.html'
        });
        films.addEventListener('nv-enter', function (event) {
                window.location='./pages/films/Films.html'
        });
        serials.addEventListener('nv-enter', function (event) {
                window.location='./pages/serials/Serials.html'
        });
        cartoons.addEventListener('nv-enter', function (event) {
                window.location='./pages/cartoons/Cartoons.html'
        });
        anime.addEventListener('nv-enter', function (event) {
                window.location='./views/Anime.html'
        });
        compilations.addEventListener('nv-enter', function (event) {
                window.location='./pages/compilations/Compilations.html'
        });


    </script>
</body>
</html>