.app {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    display: flex;
        align-items: center;
        justify-content: space-between; 
}
.header h2:before {
    content: '';
    border: 1px solid #fff;
    margin-right: 4px;
}
.categories {
    padding: 0 30px;
    background: #2b2a32;
    width: 30%;
    text-align: center;
    border-radius: 15px;
}
h2,h1 {
    font-weight: 400;
    margin: 10px 0;
}

.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.nv-el {
            background: #2b2a32;
            width: 220px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            
}
.nv-el:hover {
    border: 5px solid yellow;
}

.film-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.film-title h2 {
    font-size: 16px;
}
.film-title p {
    color: yellow;
}
.nv-el p {
    margin: 0;
}
.nv-el img {
    height: 250px;
}

.nv-el-current {
    border: 5px solid yellow;
}